/* GENERAL */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

h1, 
h2, 
h3, 
h4 {
    color: #fff;
    font-weight: 600;
}

/* UTILITIES */
.flex {
    display:flex;
}

.opacity {
    opacity: 0.5;
}

.opacity:hover {
    opacity: 1;
    cursor: pointer;
}

/* Animation Img */

.hover-img {
    color: #fff;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
  
.hover-img * {
    box-sizing: border-box;
    transition: all 0.3s linear;
}
  
.hover-img:before,
.hover-img:after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
}
  
.hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}
  
.hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    font-family: sans-serif;
}

figcaption .fa-play-circle {
    margin: 0;
    font-size: 4rem;
    transition: 0s;
}

.hover-img:hover:before,
.hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
}
  
.hover-img:hover > img {
    opacity: 0.7;
}
  
.hover-img:hover figcaption {
    opacity: 1;
    cursor: pointer;
}

/* MAIN CONTENT */
.main-content {
    height: calc(100vh - 80px);
}

.scrollable {
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}

.main-content .sidebar-col {
    width: 230px;
    background: #000;
}

.main-content .gallery {
    position: relative;
    flex-grow: 1;
    background: #161e27;
}

/* SIDEBAR */
.sidebar {
    padding: 18px;
    color: #fff;
    overflow-y: auto;
    height: 100%;
    font-size: 12px;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Sidebar Top */
.sidebar-top {
    height: calc(100% - 50px);
}

.sidebar-top .logo {
    padding-bottom: 15px;
    margin-right: 30px;
    width: 150px;
}

/* Navbar */
.sidebar-nav img {
    max-width: 25px;
}

.sidebar-nav li a {
    margin-left: 5px;
}

.sidebar-nav ul li:first-child {
    opacity: 1;
}

/* Playlist */
.playlist {
    padding-top: 20px;
}

.playlist h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.playlist i{
    padding: 5px;   
    margin-right: 10px; 
    font-size: 20px;
    background: #fff;
    color: #000;
}

.playlist li a {
    margin-top: 5px;
}

/* Sidebar Bottom */
.sidebar-bottom {
    height: 50px;
}

.sidebar-bottom .download{
    padding-bottom: 4px;
    margin-left: 4px;
}

.download .fa-arrow-alt-circle-down {
    margin-right: 5px;
}

.profile{
    align-items: center;
    margin-top: 10px;
}

.profile span {
    font-weight: 600;
}

.sidebar-bottom img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background: #808080;
}

.sidebar-bottom hr {
    margin-top: 5px;
}


/* GALLERY */

/* Gallery Top Bar */
.gallery-top-bar {
    height: 90px;
    position: absolute;
    top: 0;
    width: 98.5%;   
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery-top-bar .upgrade-btn {
    padding: 12px 30px;
    margin-right: 20px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 100px;
    transition: .2s;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.gallery-top-bar .upgrade-btn:hover {
    transform: scale(1.1);
}

/* Nav Gallery */
.gallery-menu {
    justify-content:space-around;
    align-items: center;   
    flex-wrap: wrap; 
    padding-top: 100px;
    color: #fff;
}

.gallery-menu ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 5px;
    color: #7b7d82;
    transition: .2s;
}

.gallery-menu ul li:hover {
    color: #fff;
}

.gallery-menu ul li hr {
    display: flex;
    margin-left: 30%;
    margin-top: 5px;
    width: 40px;
    border: 2px solid #86c52b;
    border-radius: 5px;
    opacity: 1;
}

/* Content Gallery */
.content-gallery {
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
}

.content-gallery h2 {
    text-align: left;    
}

.content-gallery h4 {
    margin-top: 15px;
}

.content-gallery span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    color: #7d7f84
}

.content-gallery p {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-weight: 600;
    color: #7a7d81;
}

.content-category {
    padding-bottom: 20px;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.album-list .album {
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.album img{
    width: 200px;
}

.content-category:nth-child(3) img {
    border-radius: 50%;
}

/* FOOTER */
.app-footer {
    height: 80px;
    justify-content:space-between;
    align-items: center;
    background: #060606db;
}

/* Footer Left */
.footer-left img{
    width:40px;
    height: 40px;
}

.footer-left{
    padding-left: 10px;
    align-items: center;
}

.song-name{
    padding-left: 10px;
}

.song-name span {
    color: #fff;
}

.footer-left .far {
    color: #fff;
}

.fa-heart{
    font-size:15px;
    padding-left:40px;
}

.fa-folder{
    font-size:15px;
    padding-left:15px;
}

/* Footer Center */
.footer-center{
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
}

.footer-center .footer-icons{
    align-items: center;
}

.footer-center i{
    padding: 10px;
    color: #fff;
}

.fa-play-circle{
    margin: 0 10px;
    font-size: 2rem;
    transition: .1s;
}

.fa-play-circle:hover {
    transform: scale(1.1);
}

.footer-center .time-bar{
   align-items: center;
}

.footer-center .time-bar .bar {
    width:500px;
    height: 5px;
    margin: 0 25px;
    border-radius: 15px;
    background: #5a5a5a;   
}

.footer-center .time-bar .on-bar{
    width: 100px;
    height: 5px;
    border-radius:15px;
    background: #c1c1c1;
}

.on-bar-green {
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    height: 5px;
    border-radius:15px;
    background: #12813a;
    opacity: 0;
    transition: .1s;
}

.on-bar-green:hover,
.volume-on-green:hover {
    opacity: 1;
    cursor: pointer;
}

.on-bar-green .fa-circle,
.volume-on-green .fa-circle {
    padding: 0;
    opacity: 1;
}

/* Footer Right */
.footer-right{
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.footer-right i{
    padding: 10px;
    color: #fff;
}

.footer-right .volume-bar{
   align-items: center;
}


.footer-right .volume-bar {
    width: 130px;
    height: 5px;
    margin: 0 25px; 
    border-radius: 15px;
    background: #5a5a5a;   
}

.footer-right .volume-on-bar{
    width: 30px;
    height: 5px;
    border-radius:15px;
    background: #c1c1c1;
}

.volume-on-green {
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 5px;
    border-radius:15px;
    background: #12813a;
    opacity: 0;
    transition: .1s;
}




    
    