/* GENERAL */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

h1, 
h2, 
h3, 
h4 {
    color: #fff;
    font-weight: 600;
}

/* UTILITIES */
.flex {
    display:flex;
}

/* MAIN CONTENT */
.main-content {
    height: calc(132vh - 80px);
}

.app-content{
    justify-content: center;
    height:100%;
}


.main-content .sidebar-col {
    width: 250px;
    background: #000;
    height: 100%;
}

.main-content .content-col {
    position: relative;
    flex-grow: 1;
    background: #161e27;
    overflow-y: auto;
}

/* SIDEBAR */
.sidebar {
    padding: 18px;
    color: #fff;
    overflow-y: auto;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar ul li {
    opacity: 0.5;
}

.sidebar ul li:hover {
    opacity: 1;
}

/* Sidebar Top */
.sidebar-top .logo {
    padding-bottom: 30px;
    margin-right: 30px;
    width: 150px;
}

/* Navbar */
.sidebar-nav img {
    max-width: 30px;
}

.sidebar-nav li a {
    margin-left: 5px;
}

.sidebar-nav ul li:first-child {
    opacity: 1;
}

/* Playlist */
.playlist {
    padding-top:26px;
}

.playlist h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.playlist i{
    padding: 10px;   
    margin-right: 10px; 
    font-size: 20px;
    background: #fff;
    color: #000;
}

.playlist li a {
    margin-top: 10px;
}

/* Sidebar Bottom */
.sidebar-bottom {
    padding-top: 300px;
}

.sidebar-bottom .download{
    padding-bottom: 8px;
    margin-left: 4px;
    opacity: 0.5;
}

.sidebar-bottom .download:hover {
    opacity: 1;
}

.download .fa-arrow-alt-circle-down {
    font-size: 14px;
    margin-right: 5px;
}

.profile{
    align-items: center;
    margin-top: 15px;
}

.profile span {
    font-size: 14px;
    font-weight: 600;
}

.sidebar-bottom img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    background: #808080;
}

.sidebar-bottom hr {
    opacity: 0.5;
    margin-top: 5px;
}


/* GALLERY */

/* Header Gallery */
.header-gallery {
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;   
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-gallery .upgrade-btn {
    padding: 12px 30px;
    margin-right: 20px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 100px;
    transition: .3s;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.header-gallery .upgrade-btn:hover {
    transform: scale(1.1);
}

/* Nav Gallery */
.nav-gallery {
    justify-content:space-around;
    align-items: center;    
    padding-top: 100px;
    color: #7d7f84;
}

.nav-gallery ul li{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 5px;
    transition: .2s;
}

.nav-gallery ul li:first-child {
    border-bottom: 3px solid #adff2f;
}

.nav-gallery ul li:not(:first-child):hover {
    border-bottom: 3px solid #adff2f;
}

/* Content Gallery */
.content-gallery {
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
}

.content-gallery h2 {
    text-align: left;    
}

.content-gallery h4 {
    margin-top: 15px;
}

.content-gallery span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    color: #7d7f84
}

.content-gallery p {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-weight: 600;
    color: #7a7d81;
}

.album {
    padding-top: 30px;
    margin-right: 16px;
    flex-basis: 220px;
}

.song img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

/* First Gallery */
.first-gallery {
    padding-bottom: 50px;
    justify-content: space-between;
}

/* FOOTER */
.app-footer {
    height: 80px;
    justify-content:space-between;
    align-items: center;
    background: #060606db;
}

/* Footer Left */

.footer-left img{
    width:40px;
    height: 40px;
}

.footer-left{
    padding-left: 10px;
    align-items:center;
}

.song-name{
    padding-left: 10px;
}

.song-name span {
    color: #fff;
    opacity: 0.5;
}

.footer-left .far {
    color: #fff;
    opacity: 0.4;
}

.footer-left .far:hover {
    color: #fff;
    opacity: 1;
}

.fa-heart{
    font-size:15px;
    padding-left:40px;
}

.fa-folder{
    font-size:15px;
    padding-left:15px;
}

/* Footer Center */
.footer-center{
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
}

.footer-center .footer-icons{
    align-items: center;
}

.footer-center i{
    padding: 10px;
    color: #fff;
    opacity: 0.5;
}

.footer-center i:hover {
    opacity: 1;
}

.fa-play-circle{
    margin: 0 10px;
    font-size: 2rem;
    transition: .1s;
}

.fa-play-circle:hover {
    transform: scale(1.1);
}

.footer-center .time-bar{
   align-items: center;
}


.footer-center .time-bar .bar {
    width:500px;
    height: 5px;
    margin: 0 25px;
    border-radius: 15px;
    background: #5a5a5a;   
}

.footer-center .time-bar .on-bar{
    width: 100px;
    height: 5px;
    border-radius:15px;
    background: #c1c1c1;
}

.on-bar-green {
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    height: 5px;
    border-radius:15px;
    background: #12813a;
    opacity: 0;
    transition: .1s;
}

.on-bar-green:hover {
    opacity: 1;
}

.on-bar-green .fa-circle {
    padding: 0;
    opacity: 1;
}

/* Footer Right */

.footer-right{
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.footer-right i{
    padding: 10px;
    color: #fff;
    opacity: 0.5;
}

.footer-right i:hover {
    opacity: 1;
}

.footer-right .volume-bar{
   align-items: center;
}


.footer-right .volume-bar {
    width: 130px;
    height: 5px;
    margin: 0 25px; 
    border-radius: 15px;
    background: #5a5a5a;   
}

.footer-right .volume-on-bar{
    width: 30px;
    height: 5px;
    border-radius:15px;
    background: #c1c1c1;
}

.volume-on-green {
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 5px;
    border-radius:15px;
    background: #12813a;
    opacity: 0;
    transition: .1s;
}

.volume-on-green:hover {
    opacity: 1;
}

.volume-on-green .fa-circle {
    padding: 0;
    opacity: 1;
}




    
    