/* GENERAL */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

h1, 
h2, 
h3, 
h4 {
    color: #fff;
    font-weight: 600;
}

/* UTILITIES */
.flex {
    display:flex;
}

.opacity {
    opacity: 0.5;
}

.opacity:hover {
    opacity: 1;
    cursor: pointer;
}

/* MAIN CONTENT */
.main-content {
    height: calc(100vh - 80px);
}

.scrollable {
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}

.main-content .gallery {
    position: relative;
    flex-grow: 1;
    background: #161e27;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 160px;
    padding: 18px;
    color: #fff;
    font-size: 12px;
    background: #000;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Sidebar Top */
.sidebar-top {
    height: calc(100% - 50px);
}

.sidebar-top .logo {
    width: 125px;
}

.sidebar-top .logo-small{
    display: none;
}

/* Sidebar Nav */
.sidebar-nav img {
    max-width: 25px;
}

.sidebar-nav li a {
    margin-left: 5px;
}

.sidebar-nav ul li:first-child {
    opacity: 1;
}

/*Sidebar Playlist */
.sidebar-playlist {
    padding-top: 20px;
}

.sidebar-playlist h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.sidebar-playlist i{
    padding: 5px;   
    margin-right: 10px; 
    font-size: 20px;
    background: #fff;
    color: #000;
}

.sidebar-playlist li a {
    margin-top: 5px;
}

/* Sidebar Bottom */
.sidebar-bottom {
    height: 50px;
}

.sidebar-bottom .download{
    padding-bottom: 4px;
    margin-left: 4px;
}

.download .fa-arrow-alt-circle-down {
    margin-right: 5px;
}

.profile{
    align-items: center;
    margin-top: 10px;
}

.profile span {
    font-weight: 600;
}

.sidebar-bottom img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background: #808080;
}

.sidebar-bottom hr {
    margin-top: 5px;
}


/* CONTENT */

/* Gallery Top Bar */
.gallery-top-bar {
    height: 80px;
    position: absolute;
    top: 0;
    width: 98.5%;   
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery-top-bar .upgrade-btn {
    padding: 12px 30px;
    margin-right: 20px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 100px;
    transition: .2s;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.gallery-top-bar .upgrade-btn:hover {
    transform: scale(1.1);
}

/* Gallery Menù */
.gallery-menu {
    padding-top: 100px;
    color: #fff;
}

.menu {
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap; 
}

.gallery-menu ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 5px;
    color: #7b7d82;
    transition: .2s;
}

.gallery-menu ul li:hover {
    color: #fff;
}

.gallery-menu ul li:first-child {
    position: relative;
}

.gallery-menu ul li hr {
    position: absolute;
    right: 30%;
    top: 30px;
    justify-content: center;    
    width: 40px;
    border: 2px solid #86c52b;
    border-radius: 5px;
}

/* Content Gallery */
.content-gallery {
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
}

.content-gallery h2 {
    text-align: left;    
}

.content-gallery h4 {
    margin-top: 15px;
}

.content-gallery span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    color: #7d7f84
}

.content-gallery p {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-weight: 600;
    color: #7a7d81;
}

.content-category {
    padding-bottom: 20px;
}

.album-list {
    flex-wrap: wrap;
    padding-top: 35px;
    list-style: none;
}

.album-list .album {
    width: calc((100% / 6) - 20px);
    margin-right: 10px;
    margin-bottom: 15px;
}
.album img{
    width: 100%;
    display: block;
}

.content-category:nth-child(3) img {
    border-radius: 50%;
}

/* FOOTER */
.player {
    height: 80px;
    justify-content:space-between;
    align-items: center;
    background: #060606db;
    color: #fff;
}

/* Player Left */
.player-left img{
    width:40px;
    height: 40px;
}

.player-left{
    padding-left: 10px;
    align-items: center;
}

.song-name {
    padding-left: 10px;
}

.playerleft-icons {
    font-size:15px;
    padding-left: 20px;
}

.playerleft-icons i {
    margin: 5px;
}

/* Player Center */
.player-center{
    flex-direction: column;
    align-items: center;
}

.player-center .playercenter-icons{
    align-items: center;
}

.player-center i{
    padding: 10px;
}

.player-center .fa-play-circle{
    margin: 0 10px;
    font-size: 2rem;
    transition: .1s;
}

.fa-play-circle:hover {
    transform: scale(1.1);
}

.player-center .time-bar{
   align-items: center;
}

.player-center .time-bar .bar {
    width:500px;
    height: 5px;
    margin: 0 25px;
    border-radius: 15px;
    background: #5a5a5a;   
}

.player-center .time-bar .on-bar{
    width: 100px;
    height: 5px;
    border-radius:15px;
    background: #c1c1c1;
}

.on-bar-green {
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    height: 5px;
    border-radius:15px;
    background: #12813a;
    opacity: 0;
    transition: .1s;
}

.on-bar-green:hover,
.volume-on-green:hover {
    opacity: 1;
    cursor: pointer;
}

.on-bar-green .fa-circle,
.volume-on-green .fa-circle {
    padding: 0;
    opacity: 1;
}

/* Player Right */
.player-right{
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.player-right i{
    padding: 10px;
}

.player-right .volume-bar{
   align-items: center;
}

.player-right .volume-bar {
    width: 130px;
    height: 5px;
    margin: 0 25px; 
    border-radius: 15px;
    background: #5a5a5a;   
}

.player-right .volume-on-bar{
    width: 30px;
    height: 5px;
    border-radius:15px;
    background: #c1c1c1;
}

.volume-on-green {
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 5px;
    border-radius:15px;
    background: #12813a;
    opacity: 0;
    transition: .1s;
}




    
    